# This file is used by Flex Tool Bar to create buttons on your Tool Bar.
# For more information how to use this package and create your own buttons,
#   read the documentation on https://atom.io/packages/flex-tool-bar[
[
  {
    type: 'button'
    icon: 'github'
    url: 'https://github.com/{repo-owner}/{repo-name}'
    tooltip: 'This Project on Github'
    iconset: 'fa'
  },
  {
    type: 'button'
    tooltip: 'EclectigLight.co'
    url: 'https://eclecticlight.co'
    icon: 'mandalorian'
    iconset: 'fa'
  },
  {
    type: 'button'
    icon: 'beer'
    iconset: 'fa'
    url: 'https://github.com/Homebrew/homebrew-cask/blob/master/doc/development/adding_a_cask.md'
    tooltip: 'Cask Cookbook'
  },
  {
    type: 'button'
    icon: 'atlas'
    iconset: 'fa'
    url: 'https://github.com/Homebrew/homebrew-cask/tree/master/doc'
    tooltip: 'Moar Cask Docs'
  }
]
